*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.4s ease;
}
body
{
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    height: max-content;
    background: linear-gradient(180deg, rgb(59, 157, 255) 0%, rgba(226,240,255,1) 100%);
}
.main
{
    width: 90%;
    height: fit-content;
    margin-top: 50px;
    border-radius: 10px;
    margin-bottom: 60px;
}
.weather_today
{
    width: 100%;
    height: max-content;
    background-color: rgba(244, 244, 244, 0.422);
    border-radius: 10px 10px 0 0;
    border-top: solid 2.5px white;
    border-left: solid 1.5px white;
    border-right: solid 1.5px white;

}
.weather_week
{
    width: 100%;
    height: max-content;
    background-color: rgba(244, 244, 244, 0.422);
    border-radius: 0 0 10px 10px;
    border-bottom: solid 2.5px white;
    border-left: solid 1.5px white;
    border-right: solid 1.5px white;
    display: flex;
    justify-content: space-around;
}

.weather_today .place
{
    display: inline;
    height: 200px;
    width: 100%;
}
.weather_today .place .infor_place
{
    width: 100%;
}
.weather_today .place h1
{
    margin:0px 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
}
.weather_today .place .search
{
    position: relative;
    display: flex;
    align-items: center;
    height:50px;
    margin-left: 20px;
}
.weather_today .place .search input
{
    height: 26px;
    border-radius:5px 0 0 5px;
    border: none;
    padding-left: 5px;
}


.weather_today .place .search button{
    width: max-content;
    height: 26px;
    background-color: #f0ecfc;
    line-height: 26px;
    padding: 0;
    background-image: linear-gradient(315deg, #f0ecfc 0%, #8ebfff 74%);
    border: none;
    border-radius: 0 5px 5px 0;
  }
  .weather_today .place .search button span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 5px;
    border-radius: 0 5px 5px 0;
  }
  .weather_today .place .search button span:hover{
    color: #ffffff;
    background-image: linear-gradient(315deg, #395286 0%, #00255c 74%);
  }
/*nhiet do*/
.weather_today .place .tempurature
{
    display: flex;
    justify-content: start;
    align-items: center;
    grid-row:auto;
    gap: 20px;
}

.weather_today .place .tempurature span img
{
    width: 200px;
    height: 200px;
}
.weather_today .place .tempurature .tem_number
{
    font-size: 80px;
    font-family: sans-serif;
    font-weight: 600;
}

.weather_today .place .tempurature details
{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.weather_today .place .tempurature .tem_feel,.weather_today .place .tempurature .tem_max,
.weather_today .place .tempurature .tem_min
{
    font-size: 20px;
    font-family: sans-serif;
    color:#252525;
    font-weight: 600;
    margin-bottom: 10px;
}

/*.weather_today .place .tempurature  h2
{
    width: max-content;
    margin: 0 10px 10px 10px;
    padding: 10px 0;
    border-radius: 5px;
    font-size: 16px;
    font-family: sans-serif;
    color:#0e0c0c;
    font-weight: 600;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;

}*/


/*weather week*/
.weather_week .dayofweek
{
    width: 20vh;
    height: max-content;
    background-color: #f0fafffe;
    border-radius: 15px;
    box-shadow:0 2px 2px #6a85c1;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.weather_week .dayofweek img
{
    width: 100px;
    height: 100px;
}
.weather_week .dayofweek .line
{
    width: 90%;
    border-bottom: solid 2px #395186ae;
    margin-bottom: 5px;
}
.weather_week .dayofweek .day
{
    display: flex;
    flex-direction: column;
    z-index: 1;
}
.weather_week .dayofweek .day h1
{
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: 600;
    text-align: center;
    margin-top: 10px;
}

.weather_week .dayofweek .day h2
{
    font-size: 5rem;
    font-family: sans-serif;
    color: #a70e00;
    text-align: center;
    margin: 20px 0 0 0;
}
.weather_week .dayofweek .day #pm
{
    font-size: 2rem;
    font-family: sans-serif;
    color: #2056ac;
    text-align:center;
    height: max-content;
    margin-top: 0;
    margin-bottom: 10px;
}



@media (max-width: 768px)
{

    .weather_today .place .tempurature
    {
        display: flex;
        flex-direction: column;
    }

    .weather_today .place .tempurature .tem_number
    {
        transform: scale(0.8);
    }

    .weather_week
    {
        display: flex;
        flex-direction: column;
    }

    .weather_week .dayofweek
    {
        width: auto;
        height: 40px;
        margin: 0 5px 10px 5px;
        display: inline-flex;
        justify-content: start;
    }

    .weather_week .dayofweek img
    {
        width: 40px;
        height: 40px;
        margin-left: 10px;
    }
    .weather_week .dayofweek .line
    {
        width: 0;
        border: none;
        margin: 0;
    }

    .weather_week .dayofweek .day
    {
        width: 80%;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        
    }
    .weather_week .dayofweek .day h1
    {
        width: 200px;
        font-size: 1.5rem;
        font-family: sans-serif;
        font-weight: 600;
        margin-left: 10px;
        text-align: start;
        margin-top: 0;
        line-height: 40px;
    }
    .weather_week .dayofweek .day #am
    {
        font-size: 1.5rem;
        font-family: sans-serif;
        color: #a70e00;
        text-align: end;
        margin: 0;
        line-height: 40px;
    }
    .weather_week .dayofweek .day #pm
    {
        font-size: 1.5rem;
        font-family: sans-serif;
        color: #2056ac;
        text-align: end;
        margin: 0;
        line-height: 40px;
    }

}
