*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.4s ease;
    scroll-behavior: smooth;
}

body
{
    display: flex;
    justify-content: center;
    height: max-content;
    min-height: 100vh;
    background-image: url("image/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.main
{
    width: 90%;
    height: fit-content;
    margin-top: 50px;
    border-radius: 10px;
    margin-bottom: 60px;
    position: relative;
    box-shadow: 0 2px 3px #c3c3c3;
}
.weather_today
{
    width: 100%;
    height: max-content;
    background-color: rgba(255, 255, 255, 0.737);
    border-radius: 10px;
    border-top: solid 2.5px white;
    border-left: solid 1.5px white;
    border-right: solid 1.5px white;

}
.weather_week
{
    width: 100%;
    height: max-content;
    background-color: rgba(255, 255, 255, 0.737);
    border-radius: 0 0 10px 10px;
    border-bottom: solid 2.5px white;
    border-left: solid 1.5px white;
    border-right: solid 1.5px white;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 10px;
}




.weather_today .place
{
    display: inline;
    height: 200px;
    width: 100%;
}
.weather_today .place .infor_place
{
    width: 100%;
    margin-top: 10px;
}
.weather_today .place h1
{
    margin:0px 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
}
.weather_today .place .search
{
    position: relative;
    display: flex;
    align-items: center;
    width: min-content;
    height:50px;
    margin-left: 20px;
}

.weather_today .place .search .search_area
{
    display: flex;
    width: max-content;
    gap: 0;
    border-radius: 10px;
    box-shadow: 0 2px 3px #00255c;
}

.weather_today .place .search .searchInput
{
    height: 26px;
    border-radius:5px 0 0 5px;
    border: none;
    padding-left: 5px;
    background-color: rgb(228, 253, 252);
    border: inset 2px #1f69d8;
}


.weather_today .place .search button{
    width: max-content;
    height: 26px;
    color: #ffffff;
    font-weight: 600;
    line-height: 26px;
    padding: 0;
    background-image: linear-gradient(315deg, #448cdf 0%, #1f69d8 74%);
    border: none;
    border-radius: 0 5px 5px 0;
  }
  .weather_today .place .search button span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 5px;
    border-radius: 0 5px 5px 0;
  }
  .weather_today .place .search button span:hover{
    color: #ffffff;
    background-image: linear-gradient(315deg, #395286 0%, #00255c 74%);
  }

.weather_today .place .search .time
{
    margin-left: 20px;
    font-size: 20px;
    font-family: sans-serif;
    color: #00255c;
    font-weight: 600;
    line-height: 26px;
    align-content: center;
    width: max-content;
    padding: 0 5px;
    background: linear-gradient(0deg, rgba(255,249,140,1) 0%, rgb(255, 248, 194) 100%);
    border-radius: 10px;
    box-shadow: 0 2px 3px #00255c;
}
/*nhiet do*/
.weather_today .place .tempurature
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-row:auto;
    gap: 20px;
    margin: 0 10px;
}

.weather_today .place .tempurature span img
{
    width: 200px;
    height: 200px;
}
.weather_today .place .tempurature .tem_number
{
    font-size: 100px;
    font-family: sans-serif;
    font-weight: 600;
}


.weather_today .place .tempurature .details
{
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: row;
    
}

.weather_today .place .tempurature .tem_feel,.weather_today .place .tempurature .tem_max,
.weather_today .place .tempurature .tem_min
{
    font-size: 20px;
    font-family: sans-serif;
    color:#252525;
    font-weight: 550;
    margin-bottom: 10px;
}

body .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    
  }
  
  .bg .image_place {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
    filter: blur(3px);
  }

/*weather week*/
.weather_week #tuna
{
    display: inline;
}
.weather_week h1
{
    font-family: sans-serif;
    font-size: 26px;
    height: max-content;
    width: 100%;
    text-align: center;
    color:#00255c;
}
.weather_week .chart-container
{
    display: flex;
    justify-content: center;
    margin: 10px;
    width: 100%;

}
.weather_week #temperatureChart
{
    width: 100%;
}


@media (max-width: 768px)
{
    .weather_today .place .search
    {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        margin-left: 0;
    }
    .weather_today .place .search .searchInput
    {
        width: 70%;
        background-color: rgb(228, 253, 252);
        border-radius: 10px 0 0 0;
    }
    .weather_today .place .search .search_area
    {
        width: 100%;
    }

    .weather_today .place .search .btnsearch
    {
        width: 30%;
        border-radius: 0 10px 0 0;
    }

    .weather_today .place .search .time
    {
        margin-left: 0px;
        width: 100%;
        border-radius: 0 0 10px 10px;
        display: flex;
        justify-content: center;
    }

    .weather_today .place .tempurature
    {
        display: flex;
        flex-direction: column;
        gap: 0;
    }


    .weather_today .place .tempurature .tem_number
    {
        transform: scale(0.8);
    }


    .weather_today .place .tempurature .details
    {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .weather_today .place .tempurature .details .temmm
    {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}
